[submodule "src/yobidashi"]
	path = src/yobidashi
	url = ../Yobidashi
[submodule "src/haridashi"]
	path = src/haridashi
	url = ../haridashi/
[submodule "src/ichimon"]
	path = src/ichimon
	url = ../ichimon/
[submodule "src/oyakata"]
	path = src/oyakata
	url = ../oyakata/
[submodule "src/basho"]
	path = src/basho
	url = ../basho
[submodule "src/sumoji"]
	path = src/sumoji
	url = ../sumoji
[submodule "contribs/contrib-sumo-router"]
	path = contribs/contrib-sumo-router
	url = ../contrib-sumo-router/
